@charset "utf-8";
h1 {
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	margin-right: 0px;
	margin-left: 0px;
	padding-bottom: px;
}

body {
	background-color: #CBB482;
	margin-left: 15%;
	margin-right: 15%;
}
h3{
    font-style: normal;
	font-weight: 400;
	font-size: 40px;
	margin-right: 0px;
	margin-left: 0px;
	padding-bottom: px; 
}
